body {
  background-color: rgba(128, 128, 128, 0.498);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
}
main {
  gap: 20px;
  margin: 30px;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(73, 61, 139);
  justify-content: center;
  align-items: center;
  height: 90vh;
}
section {
  height: max-content;
  height: 90vh;
  padding: 0px 55px 55px 0px;
  column-gap: 20px;
}
video {
  height: 87vh;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.video-text {
  position: absolute;
  font-size: xx-large;
  font-weight: 500;
  bottom: 6%;
  left: 12%;
}
h1 {
  font-size: xxx-large;
  font-weight: 500;
  color: aliceblue;
  padding-bottom: 0%;
}
.login {
  display: flex;
  margin-bottom: 30px;
}
.input-dive {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin-bottom: 5px; */
}
input {
  margin-bottom: 20px;
}
input:hover {
  border: 2px solid blueviolet;
}
.lineContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.line {
  height: 1px;
  width: 188px;
  background-color: rgba(255, 255, 255, 0.219);
}
p {
  color: rgba(255, 255, 255, 0.502);
}
.googleAnd {
  display: flex;
  gap: 20px;
}
span {
  color: rgba(255, 255, 255, 0.521);
}
/* .input-dive {
  margin-top: 0px;
} */
.create-account {
  width: 100%;
  height: 42px;
  background-color: blueviolet;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.google,
.apple {
  width: 100%;
  height: 42px;
  text-align: center;
  padding-top: 8px;
  border-radius: 5px;
  margin-top: 10px;
  border: 2px solid rgba(255, 255, 255, 0.621);
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
.spam {
  color: blueviolet;
  margin-left: 5px;
  text-decoration: underline;
}
