body {
  background-color: rgba(128, 128, 128, 0.498);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;


}
main {
  gap: 20px;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(73, 61, 139);
  justify-content: center;
  align-items: center;
  height: 94vh;
}
.section-right {
  /* top: -40px; */
  height: 90vh;
  padding: 10px 60px 40px 40px;
  margin-bottom: 0px;

  /* padding: 0px 50px 55px 0px;
  margin-right: 20px; */
}
video {
  margin-top: -25px;
  height: 93vh;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  width: 600px;
}
.video-text {
  position: absolute;
  font-size: xx-large;
  font-weight: 500;
  bottom: -15px;
  left: 12%;
}
h1 {
  font-size: xx-large;
  font-weight: 500;
  color: aliceblue;
}
.login {
  display: flex;
  margin-bottom: 30px;
}
.input-dive {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.inputInput{
   width: 242px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.imputLongDiv{
  width: 504px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input:hover {
  border: 2px solid blueviolet;
  cursor: pointer;
}
.lineContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.line {
  height: 1px;
  width: 208px;
  background-color: rgba(255, 255, 255, 0.219);
}
p {
  color: rgba(255, 255, 255, 0.502);
}
.googleAnd {
  display: flex;
  gap: 20px;
}
span {
  color: rgba(255, 255, 255, 0.521);
}
.create-account {
  width: 100%;
  height: 45px;
  background-color: blueviolet;
  text-align: center;
  border-radius: 5px;
  margin: 20px 0px 10px 0px;
  border: none;
  color: rgba(240, 248, 255, 0.596);
}
.create-account:hover{
  background-color: rgba(137, 43, 226, 0.61);
  cursor: pointer;
}
.google,
.apple {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.621);
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.spam {
  color: blueviolet;
  margin-left: 5px;
  text-decoration: underline;
}
.input-container {
  position: relative;
  width: 100%;
}

input[type="password"] {
  width: 100%;
  padding-right: 30px;
}

.fa-regular {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

